.chats {
    margin: 0px;
    box-sizing: border-box;
    display: flex;
}

.chats .chatsleft{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.chats .chatsright{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.chats .chatsleft .leftSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chats .chatsleft .leftSearch input{
    margin-left: -60px;
}